


.wrapper {
    border-radius: 32px;
    width: 375px;
    border: 12px solid black;
    /* border-radius: 50px; */
}

.font_size {
    font-size: 12px;
}

.mini_font {
    font-size: 9px;
}
@media only screen and (min-width: 320px) {
    .wrapper {
        border:none;
    }
  }

@media only screen and (min-width: 1200px) {
.wrapper {
    border-radius: 32px;
    border: 12px solid black;
    /* border-radius: 50px; */
}
  }